*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html, body{
  height: 100%;
}

body{
  background-color: darkgrey;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  min-height: 100%;
}

.header{
  grid-column: 2/3;
  background-color: greenyellow;
}

.sidebar{
  grid-column: 1/2;
  grid-row: 1/-1;

  background-color: blueviolet;
}

.main{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5vh 1fr 5vh 1fr;
  margin: 1vh;

  background-color: darkgray;
}

.cards{
  margin-right: 1vh;
  padding: 1vh;
  grid-row: 2 /4;

  display: grid;
  
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15vh, 1fr));
  height: 50vh;
}

.card{
  background-color: #FFFFFF;
}

.announcement{
  grid-column: 2/3;
}

.trending-cards{
  grid-column: 2/3;
}

