*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html, body{
  height: 100%;
}

body{
  background-color: #F5E9D8;
  font-family: roboto, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  min-height: 100%;
}

#site-search{
  width: 50vw;
}

.header img{
  height: 3vh;
  width: 3vh;
}

.header > .notifications{
  border: none;
  border-radius: 35px;
}

.header > .notifications:hover{
  cursor: pointer;
}

.header{
  padding-top: 1vh;
  padding-left: 1vh;

  grid-column: 2/3;
  background-color: #2FA4D7;
  box-shadow: 10px 10px 8px #888888;
}

.sidebar{
  padding-top: 1vh;
  grid-column: 1/2;
  grid-row: 1/-1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh repeat(6, minmax(10px, 20px)) 8vh repeat(3, minmax(11px, 20px)); 

  background-color: #E76F2E;
}

.sidebar ul{
  list-style: none;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

/* .sidebar ul > :nth-child(1), .sidebar ul > :nth-child(7){
  padding-bottom: 3vh;
} */

/* .sidebar ul li:nth-child(1){
  grid-row: 1/4;
}

.sidebar ul > li:nth-child(n+2):nth-child(-n+4){
  grid-row: 2/3;
} */

.main{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5vh 1fr 5vh 1fr;
  margin-top: 5vh;
  padding: 2vh;

  background-color: #F5E9D8;
}

.cards{
  margin-right: 1vh;
  padding: 1vh;
  grid-row: 2 /4;

  display: grid;
  
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 15vh));
  height: 60vh;
}

.card{
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 1em;
}

.announcement{
  grid-column: 2/3;
}

.trending-cards{
  grid-column: 2/3;
}


